.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 200px;
  height: 100vh;
  border-right: 1px solid rgb(218, 218, 218);
}
.rightViewport {
  width: 86%;
  height: 100vh;
  background-color: #edf0f3;
}
.header {
  width: 100vw;
  height: 87px;
  border-bottom: 1px solid rgb(218, 218, 218);
  background-color: white;
}
.topSection {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoPlacement {
  padding-top: 10px;
  width: 180px;
  height: 110px;
  padding-left: 10px;
}
.title {
  width: 49px;
  height: 21px;
  background-color: #F5F3FF;
  border: 1px solid #DDD6FF;
  color: #7008E7;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.logoText {
  display: flex;
  align-items: center;
  gap: 15px;
}
.name {
  font-size: 20px;
  font-weight: 600;
}
.logoContainer {
  background-color: #1E3A5F;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}