.main {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.sidebar {
  width: 280px;
  height: 100vh;
  background-color: blue;
}
.viewport {
  width: 100vw;
  height: 100px;
  background-color: red;
}